# Ignore everything
/*

# Track certain files and directories
!.gitignore
!/.sops.yaml
!/apply-config.sh
!/LICENSE
!/secrets.sops.env

# VyOS config
!scripts/
!config-parts/
!containers/
!secrets/

# CI
!.github/
