# Start of rndc.conf
key "rndc-key" {
	algorithm hmac-sha256;
	secret "${SECRET_BIND_RNDC_KEY}";
};

options {
	default-key "rndc-key";
	default-server 127.0.0.1;
	default-port 953;
};
# End of rndc.conf
